In [1]:
import sqlalchemy

In [2]:
sqlalchemy.create_engine('sqlite:///foo.db')

Engine(sqlite:///foo.db)

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///foo.db

'Connected: @foo.db'

In [5]:
%%sql

CREATE TABLE CompanyBySector
(Ticker varchar(5),
 CompanyName varchar(50),
 Sector varchar(50),
 StockPrice decimal(6,2)
)

 * sqlite:///foo.db
Done.

[]

In [4]:
%%sql

SELECT *
FROM CompanyBySector

 * sqlite:///foo.db
Done.

[]

In [8]:
%%sql

BULK INSERT CompanyBySector
FROM '/home/ramadian/Documents/SQL/snp500-company-by-sector.csv'
WITH
(
    FIRSTROW = 2,
    FIELDTERMINATOR = ';',
    ROWTERMINATOR = '\n',
    TABLOCK
)

 * sqlite:///foo.db
(sqlite3.OperationalError) near "BULK": syntax error
[SQL: BULK INSERT CompanyBySector
FROM '/home/ramadian/Documents/SQL/snp500-company-by-sector.csv'
WITH
(
    FIRSTROW = 2,
    FIELDTERMINATOR = ';',
    ROWTERMINATOR = '\n',
    TABLOCK
)]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [14]:
%%sql

SELECT *
FROM CompanyBySector

 * sqlite:///foo.db
Done.

[]